<h1>Canary
</h1>

<p>Here are all the articles</p>
 
 {{#if articles}}
    {{#each articles}}
        <h3>{{title}} </h3>
        <p>{{author.name}}</p>
        <p>{{content.timeStamp}}</p>
        <p>{{content.text}}</p>

    {{/each}}
{{/if}}

<div>

</div>

